:root {
    /* Color */
    --text-color: #191919;
    --accent-color: #23b400;
    --grey-dark-color:#909090;
    --grey-light-color: #f5f5f8;

    /* Size */
    --size-padding: 12px;
    --logo-size: 200px;

    /* Font Size */
    --medium-size: 28px;
    --small-size: 16px;
}

.font__bold {
    font-size: var(--medium-size);
    font-weight: bold;
}

.font__small {
    font-size: var(--small-size);
    font-weight: lighter;
}

.font__accent {
    color: var(--accent-color);
    font-size: var(--medium-size);
    font-weight: bold;
}

body{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #1d1d1d;
}

a {
    text-decoration: none;
    color: #1d1d1d;
}

ul {
    list-style: none;
    padding: 0;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 8px 200px;
    position: sticky;
    top: 0;
    background-color: white;
    font-size: var(--small-size);
}

.navbar__logo img {
    width:100%;
    height:100%;
    max-width: 150px;
}

.navbar__items {
    display: flex;
    list-style: none;
}

.navbar__items li {
    padding: 0 15px;
}

.navbar__items li:hover {
    background-color: var(--grey-light-color);
    border-radius: 5px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right:32px;
    font-size:32px;
}


/* body */

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: var(--medium-size);
}

.container .bg-video{
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.container .bg-video video {
    width: 100%;
}

.container .videoContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    width: 100%;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.container .videoContent .words img{
    width: 30%;
}

.container .videoContent .buttons img{
    width: 10%;
    min-width: 100px;
}

.container .buttons{
    border: none;
    cursor: pointer;
}

.container .section {
    padding: 0 20px;
}

.container .section2{
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .section3{
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-light-color);
}

.container .section4 {
    display: flex;
    height: 640px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.container .section4__img {
    max-width: 240px;
    margin-right: 140px;
}

.container .section4__img img{
    width: 100%;
}

.container .section5 {
    display: flex;
    height: 640px;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: var(--grey-light-color);
}

.container .section5__img {
    max-width: 320px;
    margin-left: 80px;
}

.container .section5__img img{
    width: 100%;
}

.container .section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 640px;
    text-align: center;
}

.container .section6__img img{
    width: 80%;
    margin-top: 50px;
}

.container .section7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 640px;
    background-color: var(--grey-light-color);
}

.container .section7__img img{
    width: 70%;
    margin-top: 50px;
}

.container .section8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.container .section8 img {
    width: 10%;
    min-width: 100px;
    margin-top: 30px;
    margin-right: 10px;
}


/* footer */

.footer {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.footer-distributed {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 240px;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 200px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}


.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}



@media screen and (max-width: 768px) {
 
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__items {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__items li {
        width:100%;
        text-align: center;
    }

    .navbar__toggleBtn {
        display: block;
        font-size: 24px;
    }

    .navbar__items.active{
        display: flex;
    }

    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        display: none;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }

}